$fontSizeDefault: 16px;

$white: #ffffff;
$black: #000000;

$mainColor: $white;
$mainBgColor: #020407;

$testimonialBgColor: #ef4836;

$worksCategoriesColor: #595959;

$contactsBgColor: #131313;
$contactsFeedbackInputColor: #525252;
$contactsFeedbackInputColorActive: #2866bd;

$copyrightColor: #565656;
