.main-nav__list {
	display: flex;
	flex-wrap: wrap;
}

.main-nav__item {
	margin-right: 46px;

	&:last-child {
		margin-right: 0;
	}
}

.main-nav__link {
	display: inline-block;
	padding: 3px 0;
	font-size: 14px;
	line-height: 1.857;
	font-weight: 600;
	letter-spacing: 0.08em;
	color: inherit;
	text-transform: uppercase;
	transition: color 300ms;

	&:hover,
	&:focus {
		color: $testimonialBgColor;
	}

	&:active {
		color: transparentize($testimonialBgColor, 0.3);
	}
}

@media (max-width: 979px) {
	.main-nav__link {
		font-size: 12px;
	}
}

@media (max-width: 767px) {
	.main-nav__list {
		justify-content: center;
	}

	.main-nav__item {
		margin-left: 15px;
		margin-right: 15px;

		&:last-child {
			margin-right: 15px;
		}
	}
}
