.works {
	padding-top: 90px;
}

.works__top {
	position: relative;
	padding-top: 37px;

	&::before {
		@extend %background-text;
		content: 'works';
		left: 0;
		top: 0;
	}
}

.works__categories {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	margin-bottom: 20px;
}

.works__categories-item {
	margin: 5px 0 5px 40px;

	&:first-child {
		margin-left: 0;
	}
}

.works__categories-link {
	font-size: 14px;
	line-height: 1.857;
	font-weight: 500;
	letter-spacing: 0.06em;
	color: $worksCategoriesColor;
	transition: color 300ms;

	&:hover,
	&:focus {
		color: $white;
	}

	&:active {
		color: transparentize($white, 0.3);
	}
}

.works__list {
	display: grid;
	grid-template-columns: repeat(33, 1fr);
	grid-gap: 7px;
}

.works__item {

	&:nth-of-type(1),
	&:nth-of-type(2),
	&:nth-of-type(4),
	&:nth-of-type(6) {
		grid-column: span 10;
	}

	&:nth-of-type(3),
	&:nth-of-type(5) {
		grid-column: span 13;
	}

	&:nth-of-type(2),
	&:nth-of-type(3),
	&:nth-of-type(4) {
		grid-row: span 2;
	}
}

.works__link img {
	display: block;
	width: 100%;
}

@media (max-width: 979px) {
	.works {
		padding-top: 50px;
	}

	.works__top {
		padding-top: 3px;
	}

	.works__categories {
		margin-bottom: 10px;
	}

	.works__list {
		grid-template-columns: 1fr 1fr;
	}

	.works__item {

		&:nth-of-type(n + 1) {
			grid-column: span 1;
		}

		@for $i from 1 through 6 {
			&:nth-of-type(#{$i}) {
				order: $i;
				@if $i == 4 {
					order: $i + 1;
				} 
				@if $i == 5 {
					order: $i - 1;
				}
			}
		}

		&:nth-of-type(6) {
			grid-row: span 2;
		}

		.works__link img {
			height: 100%;
			object-fit: cover;
		}
	}
}

@media (max-width: 767px) {
	.works {
		padding-top: 30px;
	}

	.works__top {
		padding-top: 33px;

		&::before {
			left: 50%;
			transform: translateX(-50%);
		}
	}
	
	.works__categories {
		justify-content: center;
	}

	.works__categories-item {
		margin-left: 15px;
		margin-right: 15px;

		&:first-child {
			margin-left: 15px;
		}
	}
}

@media (max-width: 480px) {
	.works__list {
		grid-template-columns: 1fr;
	}
}
